body {
    background-color: #d9ddd7;
    font-family: Verdana, sans-serif;
}
h1 {
    color: #51a05d;
}

p {
    background-color: #6a7689;
    color: white;
    padding: 20px;
}

.highlight {
    color: yellow;
    border: 2px yellow solid;
    margin: 0% 20% 0% 20%;
    text-align: center;
}

a:visited {color: white;}

a:hover {color: green;}